[Unit]
Description=RA-TDMAs+ WiFi Ad-Hoc Mode (manet-mesh)
# Corre antes do meshnode e antes de qualquer gestor de rede mexer no wlan0
Before=meshnode.service wpa_supplicant.service NetworkManager.service dhcpcd.service
After=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/routingmesh/node.conf

ExecStart=/usr/local/bin/adhoc-start.sh
ExecStop=/usr/local/bin/adhoc-stop.sh

[Install]
WantedBy=multi-user.target
